# SPDX-License-Identifier: GPL-2.0-only

config PHY_ZHIHE_SNPS_USB2
	tristate "ZhiHe Synopsys USB 2.0 PHY driver"
	depends on (ARCH_ZHIHE && OF) || COMPILE_TEST
	depends on HAS_IOMEM
	select GENERIC_PHY
	default USB_DWC3 if ARCH_ZHIHE
	help
	  Enable this to support the ZHIHE Snps USB 2.0 PHY.
	  This driver provides PHY support for the USB 2.0 controllers
	  on ZHIHE platforms.

config PHY_ZHIHE_SNPS_C10PHY
	tristate "ZHIHE C10PHY USB3.1 PHY Driver"
	depends on ARCH_ZHIHE || COMPILE_TEST
	depends on HAS_IOMEM
	select GENERIC_PHY
	default USB_DWC3 if ARCH_ZHIHE
	help
	  Enable this to support the ZHIHE C10PHY USB3.1 PHY.
	  This PHY is used in ZHIHE A210 SoCs for USB 3.1 functionality.

	  To compile this driver as a module, choose M here: the
	  module will be called phy-c10phy.
